@import '../../variables';

#footer{
    background: #DEEBE1;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .footer-text{
        color: #002f43;
		font-size: 26px;
		font-weight: normal;

		@media (max-width:516px) {
			font-size: 15px;
		}
    }

    .btnHome {
        margin-left: 20px;
		border-radius: 0;
		border-color: $dark-blue;
		color: $dark-blue;
		width: 184px;
		height: 46px;
	}

	.btnHome:hover {
		color: white;
		background-color: $dark-blue;
	}
}