@import '../../variables';
.containerSubNav { 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0px;
    height: 37px;

    .sectionLogo {
        width: 40%;
        background-color: #d6e6da;
    }
    .sectionContactUs { 
        width: 60%;
        background-color: #cbd8df;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: end;
        z-index: 1;

        .navbarMain {
            background-color: #cbd8df !important;
            margin-right: 50px;

            .navMain {
                padding: 10px 0px 10px 0px;

                .active2 {
                    color: $black;
                    font-weight: bold;
                }
            }

            .containerItem2 {
                width: 118px;
                margin: 0px 10px 0px 10px;;
            }

            .containerItem2:hover {
                .containerNavLink {
                    color: $black;
                    font-weight: bold;
                }
            }
        }
    }
 }

 @media(max-width:992px) {
    .containerSubNav {
        display: none;
    }
 }