#cards {
    background-color: #fff;
    padding: 40px;
    padding-bottom: 5%;

    @media (max-width: 500px) {
        padding: 40px 15px;
    }

    .section{
        max-width: 1200px;
        margin: 0 auto;
        padding: 1em 0;
    }

    h3{
        color: #002f43;
        font-size: 28px;
        font-weight: bold;
        margin: 0 0 20px;

        @media (max-width:516px) {
            font-size: 18px;
        }
        display: block;
    }

    .text-align-center{
        text-align: center;
    }

    .text-align-right{
        text-align: right;
    }

    .section-text{
        color: #002f43;
        font-size: 20px;
        font-weight: normal;
        margin: 0 0 20px;


        @media (max-width:516px) {
            font-size: 15px;
        }
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
    }
}