#contact-form{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: auto;
    background-color: #FFFFFF;
    border-radius: 1rem;
    padding: 1rem 2rem;
    z-index: 9999;
}

@media (max-width: 768px) {
    #contact-form{
        width: 70%;
    }
}

  


.contact-form-title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3rem;
    font-weight: 700;
    margin: 1rem 0;
}

@media (max-width: 768px) {
    .contact-form-title{
        font-size: 2rem;
        text-align: center;
    }
}


#contact-form label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    text-align: left;
    margin-bottom: 0.5rem;
}

#contact-form input{
    
    padding: 1rem 1rem;
    border-radius: 0.7rem;
    border: none;
    background-color: #E4E4E4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 1rem;
}

#contact-form textarea{
    
    padding: 1rem 1rem;
    border-radius: 0.7rem;
    border: none;
    background-color: #E4E4E4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.send-message-button{
    cursor: pointer;
    color: #FFFFFF;
    background-color: #002F43 ;
    width: 98%;
    margin:  auto;
    padding: 0.8rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.cancel-button{
    cursor: pointer;
    color: #002F43;
    background-color: #FFFFFF ;
    border: 1px solid #002F43F4;
    width: 98%;
    margin: 1rem auto;
    padding: 0.8rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 1rem;

}

.button-group{
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.modal-overlay {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    
    padding-top: 5%;
    z-index: 999;
}