@import '../variables';

.sectionCardsFilterResources {
    margin-top: 40px;

    .messageError {
        margin: 40px 0px 50px 0px;
        font-size: 20px;
        color: #002f43;
        text-align: center;
    }
}